@model List<Event>  

<!-- Event Page Start -->
<section class="event-page">
    <div class="container">
        <div class="schedule-one__inner">
            <div class="section-title text-left">
                <div class="section-title__tagline-box">
                    <span class="section-title__tagline">Event Schedule</span>
                </div>
                <h2 class="section-title__title"></h2>

            </div>
            <div class="schedule-one__main-tab-box tabs-box">
                <ul class="tab-buttons clearfix list-unstyled">
                </ul>
                <div class="tabs-content">
                    <!--tab-->
                    <div class="tab active-tab" id="1st-day">
                        <div class="schedule-one__tab-content-box">
                            @foreach(var envent in Model)
                            {
                                <div class="schedule-one__single">
                                    <div class="schedule-one__left">
                                        <h3 class="schedule-one__title">
                                            <a asp-action="Detail" asp-route-id="@envent.Id" >
                                                @envent.Name
                                            </a>
                                        </h3>
                                        <p class="schedule-one__btn thm-btn">
                                            From @envent.MinPrice - @envent.MaxPrice ₼
                                        </p>
                                    </div>
                                    <div class="schedule-one__img">
                                        <img src=@envent.EventImages.FirstOrDefault() alt="">
                                    </div>
                                    <div class="schedule-one__address-and-btn-box">
                                        <ul class="list-unstyled schedule-one__address">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-clock"></span>
                                                </div>
                                                <div class="text">
                                                    @foreach (var schedule in envent.EventsSchedules)
                                                    {
                                                        var start = schedule.Schedule.Date.Add(schedule.Schedule.StartTime);
                                                        var end = schedule.Schedule.Date.Add(schedule.Schedule.EndTime);
                                                        <div>
                                                            @($"{start:dd MMM yyyy HH:mm} - {end:HH:mm}")
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-pin"></span>
                                                </div>
                                                <div class="text">
                                                    <p>@envent.Venue.Name</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="schedule-one__btn-box">
                                            <a asp-action="Detail" asp-controller="Event" asp-route-id="@envent.Id" class="schedule-one__btn thm-btn">
                                                Buy Ticket<span class="icon-arrow-right"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!--tab-->
                    <div class="tab " id="2nd-day">
                        <div class="schedule-one__tab-content-box">
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Events That
                                            Leave a <br>
                                            Impression
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-4.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            on <br>
                                            Celebrations
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-5.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            <br> Events
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-6.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab-->
                    <div class="tab " id="3rd-day">
                        <div class="schedule-one__tab-content-box">
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Events That
                                            Leave a <br>
                                            Impression
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-7.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            on <br>
                                            Celebrations
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-8.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            <br> Events
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="assets/images/resources/schedule-one-1-9.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Page End -->