@using BookingTickets.Business.Services
@using BookingTickets.Business.Services.Implementations
@inject LayoutServices layoutServices
@{
    var settings = layoutServices.GetSettings();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home One || eventflow || eventflow HTML 5 Template </title>
    <!-- favicons Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicons/favicon-16x16.png" />
    <link rel="manifest" href="~/assets/images/favicons/site.webmanifest" />
    <meta name="description" content="eventflow HTML 5 Template " />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/assets/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/animate/animate.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/animate/custom-animate.css" />
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/jarallax/jarallax.css" />
    <link rel="stylesheet" href="~/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.css" />
    <link rel="stylesheet" href="~/assets/vendors/odometer/odometer.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/swiper/swiper.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/eventflow-icons/style.css">
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-select/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/nice-select/nice-select.css" />
    <link rel="stylesheet" href="~/assets/vendors/jquery-ui/jquery-ui.css" />

    <!-- template styles -->
    <link rel="stylesheet" href="~/assets/css/eventflow.css" />
    <link rel="stylesheet" href="~/assets/css/eventflow-responsive.css" />
</head>

<body class="body-bg-color-1">



@*     <div class="preloader">
        <div class="preloader__image"></div>
    </div>
    <!-- /.preloader --> *@
    <!-- Start sidebar widget content -->
    <div class="xs-sidebar-group info-group info-sidebar">
        <div class="xs-overlay xs-bg-black"></div>
        <div class="xs-sidebar-widget">
            <div class="sidebar-widget-container">
                <div class="widget-heading">
                    <a href="#" class="close-side-widget">X</a>
                </div>
                <div class="sidebar-textwidget">
                    <div class="sidebar-info-contents">
                        <div class="content-inner">
                            <div class="logo">
                                <a asp-action="Index" asp-controller="Home"><img src="~/assets/images/resources/@settings["Logo"]" alt="" /></a>
                            </div>
                            <div class="content-box">
                                <h4>About Us</h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut
                                    labore et magna aliqua.
                                </p>
                            </div>
                            <div class="form-inner">
                                <h4>Get a free quote</h4>
                                <form action="assets/inc/sendemail.php" class="contact-form-validated"
                                      novalidate="novalidate">
                                    <div class="form-group">
                                        <input type="text" name="name" placeholder="Name" required="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" placeholder="Message..."></textarea>
                                    </div>
                                    <div class="form-group message-btn">
                                        <button type="submit" class="thm-btn form-inner__btn">Submit Now</button>
                                    </div>
                                </form>
                                <div class="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End sidebar widget content -->




    <div class="page-wrapper">
        <header class="main-header">
            <nav class="main-menu">
                <div class="main-menu__wrapper">
                    <div class="main-menu__wrapper-inner">
                        <div class="main-menu__left">
                            <div class="main-menu__logo">
                                <a asp-action="Index" asp-controller="Home"><img src="~/assets/images/resources/@settings["Logo"]" alt=""></a>
                            </div>
                        </div>
                        <div class="main-menu__main-menu-box">
                            <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                            <ul class="main-menu__list">
                                <li class="dropdown">
                                    <a href="index.html">Home </a>
                                    <ul>
                                        <li><a href="index.html">Home One</a></li>
                                        <li><a href="index2.html">Home Two</a></li>
                                        <li><a href="index3.html">Home Three</a></li>
                                        <li class="dropdown">
                                            <a href="#">Header Styles</a>
                                            <ul>
                                                <li><a href="index.html">Header One</a></li>
                                                <li><a href="index2.html">Header Two</a></li>
                                                <li><a href="index3.html">Header Three</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown">
                                            <a href="#">One Page Styles</a>
                                            <ul>
                                                <li><a href="index-one-page.html">One Page Styles One</a></li>
                                                <li><a href="index2-one-page.html">One Page Styles Two</a></li>
                                                <li>
                                                    <a href="index3-one-page.html">One Page Styles Three</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="team.html">Team</a></li>
                                        <li><a href="team-details.html">Team Details</a></li>
                                        <li><a href="testimonials.html">Testimonials</a></li>
                                        <li><a href="pricing.html">Pricing</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li><a href="gallery-details.html">Gallery Details</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="404.html">404 Error</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Services</a>
                                    <ul>
                                        <li><a asp-controller="Service" asp-action="Index">Services</a></li>
                                        <li><a href="event-prodigy.html">Event Prodigy</a></li>
                                        <li><a href="stellar-events-co.html">Stellar Events Co</a></li>
                                        <li><a href="elite-event-management.html">Elite Event Management</a></li>
                                        <li><a href="infinite-occasions.html">Infinite Occasions</a></li>
                                        <li><a href="dream-event-planners.html">Dream Event Planners</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Event</a>
                                    <ul>
                                        <li><a asp-controller="Event" asp-action="Index" >Event</a></li>
                                        <li><a href="event-details.html">Event Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#">Blog</a>
                                    <ul>
                                        <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                                        <li><a asp-action="BlogList" asp-controller="Blog">Blog List</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="contact.html">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu__right">
                            <div class="main-menu__cart-search-nav-sidebar-icon-and-btn-box">
                                <a href="#" class="main-menu__cart  icon-cart"></a>
                                <a href="#" class="main-menu__search search-toggler">
                                    <span class="icon-loupe"></span>
                                </a>
                                <div class="main-menu__nav-sidebar-icon">
                                    <a class="navSidebar-button" href="#">
                                        <span class="icon-menu1"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="main-menu__btn-box">
                                <a href="contact.html" class="main-menu__btn thm-btn">
                                    Buy Ticket <span class="icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="stricky-header stricked-menu main-menu">
            <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
        </div><!-- /.stricky-header -->
        <main>
            @RenderBody()
        </main>

        <!--CTA One Start-->
        <section class="cta-one">
            <div class="container">
                <div class="cta-one__inner">
                    <h3 class="cta-one__title">Get Latest Updateds Subscribe <br> to Our Newsletter</h3>
                    <form class="cta-one__form mc-form" data-url="MC_FORM_URL" novalidate="novalidate">
                        <div class="cta-one__form-input-box">
                            <input type="email" placeholder="Enter your email" name="EMAIL">
                            <button type="submit" class="cta-one__btn"><span class="icon-paper-plan"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--CTA One End-->
        <!--Site Footer Start-->
        <footer class="site-footer">
            <div class="site-footer__shape-1 float-bob-y">
                <img src="~/assets/images/shapes/site-footer-shape-1.png" alt="">
            </div>
            <div class="site-footer__top">
                <div class="container">
                    <div class="site-footer__top-inner">
                        <div class="site-footer__logo">
                            <a asp-action="Index" asp-controller="Home"><img src="~/assets/images/resources/@settings["Logo"]" alt=""></a>
                        </div>
                        <div class="site-footer__social">
                            <a href="#"><i class="icon-facebook"></i></a>
                            <a href="#"><i class="icon-fi"></i></a>
                            <a href="#"><i class="icon-instagram"></i></a>
                            <a href="#"><i class="icon-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__middle">
                <div class="container">
                    <div class="site-footer__middle-inner">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                                <div class="footer-widget__column footer-widget__events">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Upcoming Events</h3>
                                    </div>
                                    <ul class="footer-widget__events-list list-unstyled">
                                        <li>
                                            <p>11 April 2024 At 10 Pm In Dhaka</p>
                                            <h5>Ui/ux Designer Meetup</h5>
                                            <a href="event-details.html">
                                                Get a Ticket <span class="icon-arrow-right"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <p>11 April 2024 At 10 Pm In Dhaka</p>
                                            <h5>Ui/ux Designer Meetup</h5>
                                            <a href="event-details.html">
                                                Get a Ticket <span class="icon-arrow-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                                <div class="footer-widget__column footer-widget__link">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Quick links</h3>
                                    </div>
                                    <ul class="footer-widget__link-list list-unstyled">
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="services.html">Service</a></li>
                                        <li><a href="contact.html">Online Ticket</a></li>
                                        <li><a href="blog.html">Blog Post</a></li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                                <div class="footer-widget__column footer-widget__our-company">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Our Company</h3>
                                    </div>
                                    <ul class="footer-widget__link-list list-unstyled">
                                        <li><a href="schedule-list-2.html">Jubilee Events</a></li>
                                        <li><a href="about.html">Gala Affairs</a></li>
                                        <li><a href="about.html">Inspire and Delight Events</a></li>
                                        <li><a href="about.html">Enchanted Gatherings</a></li>
                                        <li><a href="about.html">Eventful Ventures</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                                <div class="footer-widget__column footer-widget__contact">
                                    <div class="footer-widget__title-box">
                                        <h3 class="footer-widget__title">Contact</h3>
                                    </div>
                                    <div class="footer-widget__contact-inner">
                                        <ul class="footer-widget__contact-list list-unstyled">
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-envelop"></span>
                                                </div>
                                                <div class="text">
                                                    <p>
                                                        <a href="mailto:aysuht@code.edu.az">@settings["Email"]</a>
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-pin"></span>
                                                </div>
                                                <div class="text">
                                                    <p>@settings["Address"]</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="icon">
                                                    <span class="icon-call"></span>
                                                </div>
                                                <div class="text">
                                                    <p><a href="tel:01245789321">@settings["PhoneNumber2"], @settings["PhoneNumber1"]</a></p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="site-footer__bottom">
                <div class="container">
                    <div class="site-footer__bottom-inner">
                        <p class="site-footer__bottom-text">@settings["CopyRight"]</p>
                        <ul class="list-unstyled site-footer__bottom-menu">
                            <li><a href="about.html">@settings["Condition"]</a></li>
                            <li><a href="about.html">@settings["Privacy"]</a></li>
                            <li><a >@settings["Contact"]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer End-->


    </div><!-- /.page-wrapper -->


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay mobile-nav__toggler"></div>
        <!-- /.mobile-nav__overlay -->
        <div class="mobile-nav__content">
            <span class="mobile-nav__close mobile-nav__toggler"><i class="fa fa-times"></i></span>

            <div class="logo-box">
                <a asp-action="Index" asp-controller="Home" aria-label="logo image">
                    <img src="~/assets/images/resources/@settings["Logo"]" width="150"
                         alt="" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container"></div>
            <!-- /.mobile-nav__container -->

            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:aysuht@code.edu.az">@settings["Email"]</a>
                </li>
                <li>
                    <i class="fa fa-phone-alt"></i>
                    <a href="tel:666-888-0000">@settings["PhoneNumber1"]</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="#" class="fab fa-twitter"></a>
                    <a href="#" class="fab fa-facebook-square"></a>
                    <a href="#" class="fab fa-pinterest-p"></a>
                    <a href="#" class="fab fa-instagram"></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->



        </div>
        <!-- /.mobile-nav__content -->
    </div>
    <!-- /.mobile-nav__wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form>
                <input type="text" id="searchInput" placeholder="Search Here..." />
                <button type="button" aria-label="search submit" class="thm-btn">
                    <i class="fas fa-search"></i>
                </button>
            </form>

            <ul class="searchList list-group"></ul>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fas fa-arrow-up"></i></a>


    <script src="~/assets/vendors/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/assets/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendors/jarallax/jarallax.min.js"></script>
    <script src="~/assets/vendors/jquery-ajaxchimp/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/vendors/jquery-appear/jquery.appear.min.js"></script>
    <script src="~/assets/vendors/jquery-magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/vendors/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/assets/vendors/odometer/odometer.min.js"></script>
    <script src="~/assets/vendors/swiper/swiper.min.js"></script>
    <script src="~/assets/vendors/wnumb/wNumb.min.js"></script>
    <script src="~/assets/vendors/wow/wow.js"></script>
    <script src="~/assets/vendors/isotope/isotope.js"></script>
    <script src="~/assets/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/assets/vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script src="~/assets/vendors/jquery-ui/jquery-ui.js"></script>
    <script src="~/assets/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/assets/vendors/countdown/countdown.min.js"></script>
    <script src="~/assets/vendors/marque/marquee.min.js"></script>
    <script src="~/assets/vendors/sidebar-content/jquery-sidebar-content.js"></script>



    <script>
            const input = document.querySelector("#searchInput");

        input.addEventListener("keyup", function () {
            console.log(input.value);

            if (input.value) {
                fetch("/home/search?search=" + input.value)
                    .then(response => response.text())
                    .then(data => {
                        document.querySelector(".searchList").innerHTML = data;
                    });
            }
        });
    </script>

    <!-- template js -->
    <script src="~/assets/js/eventflow.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>

