@model List<Blog>
@{
    var categories= ViewBag.Categories;
    var tags=ViewBag.Tags ;
}

<!--Blog Page Start-->
<section class="blog-list">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-list__left">

                    @foreach(var blog in Model)
                    {
                        <!--BLog Page Single Start-->
                        <div class="blog-list__single">
                            <div class="blog-list__img-box">
                                <div class="blog-list__img">
                                    <img src=@blog.BlogImages.FirstOrDefault(x=>x.Id==1) alt="">
                                </div>
                                <div class="blog-list__date">
                                    <p>
                                        @(blog.CreatedDate.HasValue
                                                ? blog.CreatedDate.Value.ToString("dd MMMM")
                                                : "No date available")
                                    </p>
                                </div>
                            </div>
                            <div class="blog-list__content">
                                <ul class="blog-list__meta list-unstyled">
                                    <li>
                                        <a href="#"><span class="icon-user"></span>By admin</a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="icon-calendar"></span>October 19, 2022</a>
                                    </li>
                                </ul>
                                <h3 class="blog-list__title">
                                    <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id">
                                        @blog.Title
                                    </a>
                                </h3>
                                <div class="blog-list__btn-box">
                                    <a asp-action="Detail" asp-controller="Blog" asp-route-id="@blog.Id" class="blog-list__btn thm-btn">
                                        Read More<span class="icon-arrow-right"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--BLog Page Single End-->

                    }
                    <div class="blog-list__pagination">
                        <ul class="pg-pagination list-unstyled">
                            <li class="count"><a asp-action="Detail" asp-controller="Blog" asp-route-id="7">01</a></li>
                            <li class="count"><a asp-action="Detail" asp-controller="Blog" asp-route-id="8">02</a></li>
                            <li class="count"><a asp-action="Detail" asp-controller="Blog" asp-route-id="9">03</a></li>
                            @* <li class="next">
                                <a href="blog-details.html" aria-label="Next">
                                    <i class="icon-double-angle"></i>
                                </a>
                            </li> *@
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    <div class="sidebar__single sidebar__search">
                        <h3 class="sidebar__title">Search</h3>
                        <form>
                            <input type="text" id="searchInput" placeholder="Search....">
                            <button type="button"><i class="icon-loupe"></i></button>
                        </form>
                        <ul class="searchList list-group"></ul>
                    </div>
                    <div class="sidebar__single sidebar__all-category">
                        <h3 class="sidebar__title">Category</h3>
                        <ul class="sidebar__all-category-list list-unstyled">
                            @foreach(var cat in categories)
                            {
                                <li class="active">
                                    <a href="blog-details.html">
                                        <i class="icon-double-angle"></i>
                                        @Html.Raw(cat.Name)
                                        <span>(01)</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="sidebar__single sidebar__post">
                        <h3 class="sidebar__title">Recent Post</h3>
                        <ul class="sidebar__post-list list-unstyled">
                            <li>
                                <div class="sidebar__post-content">
                                    <p class="sidebar__post-date">
                                        <span class="icon-calendar"></span>Jan 10,2024
                                    </p>
                                    <h3>
                                        <a href="blog-details.html">
                                            Unforgettable Mome Celebrate Unforgettable
                                            Events
                                        </a>
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <div class="sidebar__post-content">
                                    <p class="sidebar__post-date">
                                        <span class="icon-calendar"></span>Jun 20,2024
                                    </p>
                                    <h3>
                                        <a href="blog-details.html">
                                            Aliquam an eros justo, posuere lobortis,
                                            viverra laoreet
                                        </a>
                                    </h3>
                                </div>
                            </li>
                            <li>
                                <div class="sidebar__post-content">
                                    <p class="sidebar__post-date">
                                        <span class="icon-calendar"></span>Jan 15,2024
                                    </p>
                                    <h3>
                                        <a href="blog-details.html">
                                            Aliquam eros justo, posuere loborti viverra
                                            laoreet
                                        </a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar__single sidebar__tags">
                        <h3 class="sidebar__title">Tags</h3>
                        <div class="sidebar__tags-list">
                            @foreach (var tag in tags)
                            {
                                <a href="blog-details.html">@Html.Raw(tag.Name)</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Blog Page End-->
@section scripts {
    <script>
            const input = document.querySelector("#searchInput");

        input.addEventListener("keyup", function () {
            console.log(input.value);

            if (input.value) {
                fetch("/home/search?search=" + input.value)
                    .then(response => response.text())
                    .then(data => {
                        document.querySelector(".searchList").innerHTML = data;
                    });
            }
        });
    </script>
}