@using BookingTickets.Core.Entities
@using BookingTickets.Core.ViewModels
@model ServiceVm
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg" style="background-image: url(assets/images/backgrounds/page-header-bg.jpg);">
    </div>
    <div class="page-header__shape-1 float-bob-y">
        <img src="https://unicktheme.com/2024/eventflow/main-html/assets/images/backgrounds/page-header-bg.jpg" alt="">
    </div>
    <div class="page-header__shape-2 float-bob-x">
        <img src="https://unicktheme.com/2024/eventflow/main-html/assets/images/backgrounds/page-header-bg.jpg" alt="">
    </div>
    <div class="container">
        <div class="page-header__inner">
            <h2>@Model.Service.Title</h2>
            <div class="thm-breadcrumb__box">
                <ul class="thm-breadcrumb list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><span class="icon-angle-right"></span></li>
                    <li><a asp-controller="Service" asp-action="Index">Services</a></li>
                    <li><span class="icon-angle-right"></span></li>
                    <li>@Model.Service.Info</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Service Details Start-->
<section class="service-details">
    <div class="container">
        <div class="service-details__top">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="service-details__top-left">
                        <div class="service-details__all-category">
                            <h3 class="service-details__category-title">Category</h3>
                            <ul class="service-details__all-category-list list-unstyled">
                                @foreach (var category in Model.Categories)
                                {
                                    <li>
                                        <a href="event-prodigy.html">
                                            <i class="icon-double-angle"></i>@Html.Raw(category.Name)
                                            <span>(0)</span>
                                        </a>
                                    </li>
                                }

                            </ul>
                        </div>
                        <div class="service-details__get-touch">
                            <div class="service-details__get-touch-bg"
                            style="background-image: url(assets/images/backgrounds/service-details-get-touch-bg.jpg);">
                            </div>
                            <div class="service-details__get-touch-inner">
                                <h3 class="service-details__get-touch-title">GET TOUCH</h3>
                                <p class="service-details__get-touch-sub-title">For fast service</p>
                                <div class="service-details__get-touch-icon">
                                    <span class="icon-call"></span>
                                </div>
                                <h4 class="service-details__get-touch-number">
                                    <a href="tel:888123456765">
                                        (+888)
                                        123
                                        456 765
                                    </a>
                                </h4>
                            </div>
                        </div>
                       <div class="service-details__download-box">
    <ul class="service-details__download-list list-unstyled">
        <li>
            <a href="/files/information-for-booking-tickets.pdf" download>
                Information<span class="icon-download"></span>
            </a>
        </li>
        <li>
            <a href="/files/terms-and-conditions-in-events.pdf" download>
                Terms & Conditions<span class="icon-download"></span>
            </a>
        </li>
    </ul>
</div>

                    </div>
                </div>
                <div class="col-xl-8 col-lg-7">
                    <div class="service-details__top-right">
                        <div class="service-details__img-1">
                            <img src=@Model.Service.Image alt="">
                        </div>
                        <h3 class="service-details__title-1">Where Every Event Shines Bright</h3>
                        <p class="service-details__text-1">
                            @Model.Service.Description
                        </p>

                        <h3 class="service-details__title-2">Experience the Magic of Events</h3>

                        <p class="service-details__text-3">
                            Real estate is a lucrative industry that involves the
                            buying selling and renting properties It encompasses residential commercial and
                            industrial designsin properties. Real estate agents play a crucial Lorem Ipsum is
                            simply
                            dummy text of the printing Lorem Ipsum is simply dummy text of the printing .Lorem
                            Ipsum
                            is simply
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="service-details__bottom">
            <div class="row">
                @foreach(var ser in Model.Services)
                {
                    <!-- Services Two Single Start -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="service-details__single">
                            <div class="service-details__icon">
                                <span class="@ser.Icon"></span>
                            </div>
                            <h3 class="service-details__title">
                                <a asp-action="Detail" asp-controller="Service" asp-route-id="@ser.Id">
                                    @ser.Title
                                </a>
                            </h3>
                            <p class="service-details__text">
                               @ser.Info
                            </p>
                            <a asp-action="Detail" asp-controller="Service" asp-route-id="@ser.Id" class="service-details__btn">
                                Read More <span class="icon-arrow-right"></span>
                            </a>
                        </div>
                    </div>
                    <!-- Services Two Single End -->
                }

            </div>
           
            <div class="service-details__faq-box">
                <h3 class="service-details__faq-title">Creating Memories One Event at a Time</h3>
                <div class="accrodion-grp faq-one-accrodion" data-grp-name="faq-one-accrodion-1">
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4> What types of events do you specialize in?</h4>
                            <div class="faq-one-accrodion__count"></div>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    We specialize in a wide variety of events including concerts, 
                                    theater performances, movie screenings, workshops, conferences, 
                                    sports games, and family-friendly shows. Whether it’s entertainment,
                                    education, or business-related, our platform makes it easy to find and book tickets
                                    for the experiences you care about most.
                                </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion  active">
                        <div class="accrodion-title">
                            <h4>How far in advance should I book an event?</h4>
                            <div class="faq-one-accrodion__count"></div>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    We recommend booking your tickets as early as possible — especially for popular events.
                                    Some events sell out weeks in advance, so securing your spot 
                                    early ensures the best seat options and avoids last-minute disappointments.
                                </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Do you provide event planning services?</h4>
                            <div class="faq-one-accrodion__count"></div>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>
                                    While our main focus is on ticket sales and seat management, 
                                    we also collaborate with organizers by offering tools for scheduling,
                                    venue setup, seat mapping, and ticket distribution. For full event planning support,
                                    we’re happy to connect you with our trusted partners.
                                </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Service Details End-->