@model EventReturnDto
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Name: @Model.Name</div>
            <div class="p-3 border bg-light">AgeRestriction: @Model.AgeRestriction</div>
            <div class="p-3 border bg-light">PriceIntervale: @Model.MinPrice-@Model.MaxPrice</div>
            <div class="p-3 border bg-light">Description: @Model.Description</div>
            <div class="p-3 border bg-light">Access: @Model.IsAccess</div>
            <div class="p-3 border bg-light">PhoneNumber: @Model.PhoneNumber</div>
            <div class="p-3 border bg-light">Venue: @Model.Venue.Name</div>
            <div class="p-3 border bg-light">Languages: @(String.Join(" , ", Model.EventLanguages.Select(pt => pt.Name)))</div>
            <div class="p-3 border bg-light">Speakers: @(String.Join(" , ", Model.EventPersons.Select(pt => pt.FullName)))</div>
          @*   <div class="p-3 border bg-light">Schedules: @(String.Join(" , ", Model.Schedules.Select(pt => pt.Date)))</div> *@

            @foreach (var image in Model.EventImages)
            {
                <div class="p-3 border bg-light">
                    <img src=@image width="150" height="150" alt="sliderimage" />
                </div>
            }
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" asp-action="index">Go back</a>
        </div>
    </div>
</div>

