@{
    ViewData["Title"] = "Home Page";
}
@model HomeVm
<!--Main Slider Start-->
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
    "effect": "fade",
    "pagination": {
    "el": "#main-slider-pagination",
    "type": "bullets",
    "clickable": true
    },
    "navigation": {
    "nextEl": "#main-slider__swiper-button-next",
    "prevEl": "#main-slider__swiper-button-prev"
    },
    "autoplay": {
    "delay": 8000
    }
    }'>
        <div class="swiper-wrapper">

            @foreach(var slider in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="main-slider__img">
                        <img src="@slider.Image" alt="">
                    </div>
                    <div class="main-slider__shpae-1">
                        <img src="~/assets/images/shapes/main-slider-shape-1.png" alt="">
                    </div>
                    <div class="main-slider__shpae-2">
                        <img src="~/assets/images/shapes/main-slider-shape-2.png" alt="">
                    </div>
                    <div class="main-slider__start-1">
                        <img src="~/assets/images/shapes/main-slider-star-1.png" alt="">
                    </div>
                    <div class="main-slider__start-2 zoominout">
                        <img src="~/assets/images/shapes/main-slider-star-2.png" alt="">
                    </div>
                    <div class="main-slider__start-3">
                        <img src="~/assets/images/shapes/main-slider-star-3.png" alt="">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="main-slider__content">
                                    <p class="main-slider__sub-title">@slider.FestName</p>
                                    <h2 class="main-slider__title">
                                        @Html.Raw(slider.Title)
                                    </h2>
                                    <p class="main-slider__text">
                                        @Html.Raw(slider.Description)
                                    </p>
                                    <div class="main-slider__btn-box">
                                        <a href="contact.html" class="main-slider__btn thm-btn">
                                            @slider.ButtonText
                                            <span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="swiper-pagination" id="main-slider-pagination"></div>
        <!-- If we need navigation buttons -->

    </div>
</section>
<!--Main Slider End-->
<!--Services One Start-->
<section class="services-one">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">event benefits</span>
            </div>
            <h2 class="section-title__title">Why should you joint <br> our event</h2>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Services")
        </div>
    </div>
</section>
<!--Services One End-->
<!-- Sliding Text One Start -->
<section class="sliding-text-one">
    <div class="sliding-text-one__wrap">
        <ul class="sliding-text__list list-unstyled marquee_mode">
            @foreach(var text in Model.SlidingTexts)
            {
                <li>
                    <h2 data-hover="@text.Text" class="sliding-text__title">
                        @text.Text
                        <img src="~/assets/images/icon/star-icon.png" alt="">
                    </h2>
                </li>
            }
        </ul>
    </div>
</section>
<!-- Sliding Text One End -->
<!-- Event One Start -->
<section class="event-one">
    <div class="container">
        <div class="event-one__inner wow fadeInUp" data-wow-delay="300ms">
            <div class="event-one__top">
                <div class="section-title text-left">
                    <div class="section-title__tagline-box">
                        <span class="section-title__tagline">About Our Event</span>
                    </div>
                    <h2 class="section-title__title">Uniting Creating of <br> the Memories</h2>
                </div>
                <div class="event-one__btn-box">
                    <a href="event-details.html" class="event-one__btn thm-btn">
                        Join The Event <span class="icon-arrow-right"></span>
                    </a>
                </div>
            </div>
            <ul class="list-unstyled event-one__points">
                <li>
                    <div class="icon">
                        <span class="icon-air-horn"></span>
                    </div>
                    <div class="content">
                        <h4><a href="event.html">Artists & bands</a></h4>
                        <p>
                            Events bring people together for a shared experien celebration a <br> From weddings
                            and birthdays to conferences
                        </p>
                    </div>
                </li>
                <li>
                    <div class="icon">
                        <span class="icon-party-blower"></span>
                    </div>
                    <div class="content">
                        <h4><a href="event.html">Audience Event Planner</a></h4>
                        <p>
                            Events bring people together for a shared experien celebration a <br> From weddings
                            and birthdays to conferences
                        </p>
                    </div>
                </li>
            </ul>
            <div class="event-one__img-box">
                <img src="~/assets/images/resources/event-one-img-1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Event One End -->
<!-- Buy Ticket Start -->
<section class="buy-ticket">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="buy-ticket__left wow fadeInLeft" data-wow-delay="100ms">
                    <ul class="buy-ticket__address list-unstyled">
                        <li>
                            <div class="icon">
                                <span class="icon-clock"></span>
                            </div>
                            <div class="text">
                                <p>Mirpur 01 Road N 12 Dhaka Bangladesh</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <span class="icon-pin"></span>
                            </div>
                            <div class="text">
                                <p>10 Am To 10 Pm 20 April 2024</p>
                            </div>
                        </li>
                    </ul>
                    <h3 class="buy-ticket__title">Grab Your Seat Wow Or You May Regret it Once</h3>
                    <p class="buy-ticket__text">
                        Events bring people together for a shared experien celebration a
                        From weddings and <br> birthdays to conferences Events bring people together for a
                        shared
                    </p>
                    <div class="buy-ticket__btn-box">
                        <a href="contact.html" class="buy-ticket__btn-1 thm-btn">
                            Buy Your Ticket<span class="icon-arrow-right"></span>
                        </a>
                        <a href="contact.html" class="buy-ticket__btn-2 thm-btn">
                            Contact Us<span class="icon-arrow-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="buy-ticket__right wow fadeInRight" data-wow-delay="300ms">
                    <div class="buy-ticket__img">
                        <img src="~/assets/images/resources/buy-ticket-img.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Buy Ticket End -->
<!-- Team One Start -->
<section class="team-one">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">Our Team Member</span>
            </div>
            <h2 class="section-title__title">our amaizing & lerned <br> event speakerss</h2>
        </div>
        <div class="row">
            <!-- Team One Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInLeft" data-wow-delay="100ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/assets/images/team/team-1-1.jpg" alt="">
                            <div class="team-one__content">
                                <h4 class="team-one__name"><a href="team-details.html">David Beckham</a></h4>
                                <p class="team-one__sub-title">Speaker</p>
                            </div>
                            <div class="team-one__content-hover">
                                <h4 class="team-one__name-hover">
                                    <a href="team-details.html">David Beckham</a>
                                </h4>
                                <p class="team-one__sub-title-hover">Speaker</p>
                                <p class="team-one__text-hover">
                                    Events bring people together fo shared
                                    experience and celebration. weddingsn and birthdays to conferences
                                    festivalsn events create memories
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team One Single End -->
            <!-- Team One Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/assets/images/team/team-1-2.jpg" alt="">
                            <div class="team-one__content">
                                <h4 class="team-one__name"><a href="team-details.html">David Betman</a></h4>
                                <p class="team-one__sub-title">Singer</p>
                            </div>
                            <div class="team-one__content-hover">
                                <h4 class="team-one__name-hover">
                                    <a href="team-details.html">David Betman</a>
                                </h4>
                                <p class="team-one__sub-title-hover">Singer</p>
                                <p class="team-one__text-hover">
                                    Events bring people together fo shared
                                    experience and celebration. weddingsn and birthdays to conferences
                                    festivalsn events create memories
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team One Single End -->
            <!-- Team One Single Start -->
            <div class="col-xl-4 col-lg-6 wow fadeInRight" data-wow-delay="300ms">
                <div class="team-one__single">
                    <div class="team-one__img-box">
                        <div class="team-one__img">
                            <img src="~/assets/images/team/team-1-3.jpg" alt="">
                            <div class="team-one__content">
                                <h4 class="team-one__name"><a href="team-details.html">Jessica Brown</a></h4>
                                <p class="team-one__sub-title">Content Creator</p>
                            </div>
                            <div class="team-one__content-hover">
                                <h4 class="team-one__name-hover">
                                    <a href="team-details.html">Jessica Brown</a>
                                </h4>
                                <p class="team-one__sub-title-hover">Content Creator</p>
                                <p class="team-one__text-hover">
                                    Events bring people together fo shared
                                    experience and celebration. weddingsn and birthdays to conferences
                                    festivalsn events create memories
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team One Single End -->
        </div>
    </div>
</section>
<!-- Team One End -->
<!-- Event Direction Start -->
<section class="event-direction">
    <div class="container">
        <div class="event-direction__inner">
            <div class="row">
                <div class="col-xl-7 wow fadeInLeft" data-wow-delay="100ms">
                    <div class="event-direction__left">
                        <div class="section-title text-left">
                            <div class="section-title__tagline-box">
                                <span class="section-title__tagline">Our Event Direction</span>
                            </div>
                            <h2 class="section-title__title">Creating Memories <br> One Event Time</h2>
                        </div>
                        <p class="event-direction__text">
                            Events bring people together for a shared experien
                            celebration a <br> From weddings and birthdays to conferences
                        </p>
                        <div class="event-direction__call">
                            <div class="event-direction__call-icon">
                                <img src="~/assets/images/icon/event-direction-chat-icon.png" alt="">
                            </div>
                            <div class="event-direction__call-content">
                                <p>Call Us</p>
                                <h4><a href="tel:3075550133">(307) 555-0133</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 wow fadeInRight" data-wow-delay="300ms">
                    <div class="event-direction__right">
                        <ul class="event-direction__counter list-unstyled">
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="100">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Our Event Artists</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="101">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Hours Of Music</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="10">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Event Stages</p>
                                </div>
                            </li>
                            <li>
                                <div class="event-direction__counter-single">
                                    <div class="event-direction__counter-box">
                                        <h3 class="odometer" data-count="20">00</h3>
                                        <span class="event-direction__counter-plus">+</span>
                                    </div>
                                    <p class="event-direction__counter-text">Music Brands</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Event Direction End -->
<!-- Gallery One Start -->
<section class="gallery-one">
    <div class="container">
        <div class="section-title text-center">
            <div class="section-title__tagline-box">
                <span class="section-title__tagline">Latest Gallery</span>
            </div>
            <h2 class="section-title__title">An evening for creator & art <br> lover meet together</h2>
        </div>
        <div class="row masonary-layout">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-1.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-2.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-3.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-4.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-5.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-6.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-7.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-8.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="gallery-one__single">
                    <div class="gallery-one__img">
                        <img src="~/assets/images/gallery/gallery-1-9.jpg" alt="">
                        <div class="gallery-one__content">
                            <div class="gallery-one__sub-title-box">
                                <div class="gallery-one__sub-title-shape"></div>
                                <p class="gallery-one__sub-title">Gala Affairs</p>
                            </div>
                            <h4 class="gallery-one__title">
                                <a href="gallery-details.html">
                                    Dream Makers Event
                                    Planning
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery One End -->
<!-- Schedule One Start -->
<section class="schedule-one">
    <div class="container">
        <div class="schedule-one__inner">
            <div class="section-title text-left">
                <div class="section-title__tagline-box">
                    <span class="section-title__tagline">Event Schedule</span>
                </div>
                <h2 class="section-title__title">Follow event schedule</h2>
            </div>
            <div class="schedule-one__main-tab-box tabs-box">
                <ul class="tab-buttons clearfix list-unstyled">
                    <li data-tab="#1st-day" class="tab-btn active-btn">
                        <h3>Day 01</h3>
                        <p>16 April 2024</p>
                    </li>
                    <li data-tab="#2nd-day" class="tab-btn">
                        <h3>Day 02</h3>
                        <p>18 April 2024</p>
                    </li>
                    <li data-tab="#3rd-day" class="tab-btn">
                        <h3>Day 03</h3>
                        <p>24 April 2024</p>
                    </li>
                </ul>
                <div class="tabs-content">
                    <!--tab-->
                    <div class="tab active-tab" id="1st-day">
                        <div class="schedule-one__tab-content-box">
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Events That
                                            Leave a <br>
                                            Impression
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-1.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            on <br>
                                            Celebrations
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-2.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            <br> Events
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-3.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab-->
                    <div class="tab " id="2nd-day">
                        <div class="schedule-one__tab-content-box">
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Events That
                                            Leave a <br>
                                            Impression
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-4.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            on <br>
                                            Celebrations
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-5.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            <br> Events
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-6.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--tab-->
                    <div class="tab " id="3rd-day">
                        <div class="schedule-one__tab-content-box">
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Events That
                                            Leave a <br>
                                            Impression
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-7.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            on <br>
                                            Celebrations
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-8.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="schedule-one__single">
                                <div class="schedule-one__left">
                                    <h3 class="schedule-one__title">
                                        <a href="event-details.html">
                                            Sparkle & Shine
                                            <br> Events
                                        </a>
                                    </h3>
                                    <p class="schedule-one__text">
                                        A personal portfolio is a curated collection
                                        of <br> an individual's professional work
                                    </p>
                                </div>
                                <div class="schedule-one__img">
                                    <img src="~/assets/images/resources/schedule-one-1-9.jpg" alt="">
                                </div>
                                <div class="schedule-one__address-and-btn-box">
                                    <ul class="list-unstyled schedule-one__address">
                                        <li>
                                            <div class="icon">
                                                <span class="icon-clock"></span>
                                            </div>
                                            <div class="text">
                                                <p>10 Am To 10 Pm <br> 20 April 2024</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="icon">
                                                <span class="icon-pin"></span>
                                            </div>
                                            <div class="text">
                                                <p>Mirpur 01 Road N 12 Dhaka <br> Bangladesh</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="schedule-one__btn-box">
                                        <a href="contact.html" class="schedule-one__btn thm-btn">
                                            Buy Ticket<span class="icon-arrow-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Schedule One End -->
<!--Brand One Start-->
<section class="brand-one">
    <div class="container">
        <div class="brand-one__inner">
            <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100,
            "slidesPerView": 5,
            "loop": true,
            "navigation": {
            "nextEl": "#brand-one__swiper-button-next",
            "prevEl": "#brand-one__swiper-button-prev"
            },
            "autoplay": { "delay": 5000 },
            "breakpoints": {
            "0": {
            "spaceBetween": 30,
            "slidesPerView": 1
            },
            "375": {
            "spaceBetween": 30,
            "slidesPerView": 2
            },
            "575": {
            "spaceBetween": 30,
            "slidesPerView": 2
            },
            "767": {
            "spaceBetween": 50,
            "slidesPerView": 3
            },
            "991": {
            "spaceBetween": 50,
            "slidesPerView": 4
            },
            "1200": {
            "spaceBetween": 100,
            "slidesPerView": 5
            },
            "1320": {
            "spaceBetween": 100,
            "slidesPerView": 5
            }
            }}'>
                <div class="swiper-wrapper">
                    @foreach(var brand in Model.Brands)
                    {
                        <div class="swiper-slide">
                            <div class="swiper-slide__img">
                                <a href="#"><img src="@brand.Image" alt=""></a>
                            </div>
                        </div>
                        <!-- /.swiper-slide -->
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->
<!--Blog One Start-->
<section class="blog-one">
    <div class="container">
        <div class="blog-one__top">
            <div class="section-title text-left">
                <div class="section-title__tagline-box">
                    <span class="section-title__tagline">Latest Blog And news</span>
                </div>
                <h2 class="section-title__title">Whats happening near</h2>
            </div>
            <div class="blog-one__btn-box">
                <a href="blog.html" class="blog-one__btn thm-btn">
                    View More Blog<span class="icon-arrow-right"></span>
                </a>
            </div>
        </div>
        <div class="blog-one__bottom">
            <div class="row">
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInLeft" data-wow-delay="100ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
                            <img src="~/assets/images/blog/blog-1-1.jpg" alt="">
                            <div class="blog-one__hover">
                                <a href="blog-details.html">
                                    <div class="blog-one__hover-icon-1">
                                        <span class="blog-one__hover-icon-2"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-one__content">
                            <ul class="blog-one__meta list-unstyled">
                                <li>
                                    <a href="#"><span class="icon-user"></span>By admin</a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-calendar"></span>October 19, 2022</a>
                                </li>
                            </ul>
                            <h3 class="blog-one__title">
                                <a href="blog-details.html">
                                    Join the Festivi Celebrate
                                    <br> Special Moments
                                </a>
                            </h3>
                            <div class="blog-one__btn-box-two">
                                <a href="blog-details.html" class="blog-one__btn-2 thm-btn">
                                    Read More<span class="icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
                            <img src="~/assets/images/blog/blog-1-2.jpg" alt="">
                            <div class="blog-one__hover">
                                <a href="blog-details.html">
                                    <div class="blog-one__hover-icon-1">
                                        <span class="blog-one__hover-icon-2"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-one__content">
                            <ul class="blog-one__meta list-unstyled">
                                <li>
                                    <a href="#"><span class="icon-user"></span>By admin</a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-calendar"></span>October 19, 2022</a>
                                </li>
                            </ul>
                            <h3 class="blog-one__title">
                                <a href="blog-details.html">
                                    Embrace the Joyful Spirit
                                    Discover a World
                                </a>
                            </h3>
                            <div class="blog-one__btn-box-two">
                                <a href="blog-details.html" class="blog-one__btn-2 thm-btn">
                                    Read More<span class="icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInRight" data-wow-delay="300ms">
                    <div class="blog-one__single">
                        <div class="blog-one__img">
                            <img src="~/assets/images/blog/blog-1-3.jpg" alt="">
                            <div class="blog-one__hover">
                                <a href="blog-details.html">
                                    <div class="blog-one__hover-icon-1">
                                        <span class="blog-one__hover-icon-2"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog-one__content">
                            <ul class="blog-one__meta list-unstyled">
                                <li>
                                    <a href="#"><span class="icon-user"></span>By admin</a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-calendar"></span>October 19, 2022</a>
                                </li>
                            </ul>
                            <h3 class="blog-one__title">
                                <a href="blog-details.html">
                                    Where Moments Come Alive an
                                    Celebrate
                                </a>
                            </h3>
                            <div class="blog-one__btn-box-two">
                                <a href="blog-details.html" class="blog-one__btn-2 thm-btn">
                                    Read More<span class="icon-arrow-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
            </div>
        </div>
    </div>
</section>
<!--Blog One End-->