@model BlogReturnDto
<div class="container px-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">Title: @Model.Title</div>
            <div class="p-3 border bg-light">SubTitle: @Model.SubTitle</div>
            <div class="p-3 border bg-light">Description: @Model.Description</div>
            <div class="p-3 border bg-light">SecondDescription: @Model.SecondDescription</div>
            <div class="p-3 border bg-light">CreatedDate: @Model.CreatedDate</div>
            @foreach(var image in Model.BlogImages)
            {
                <div class="p-3 border bg-light">
                    @image
                </div>
            }
        </div>
        <div class="col">
            <a class="btn btn-outline-primary" asp-action="index">Go back</a>
        </div>
    </div>
</div>

